{% extends "base.html" %}

{% block title %}Detail Equipo{% endblock title %}

{% block content %}

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ object.nombre }}</h6>
    </div>
    <div class="card-body">
      Equipo ID: {{ object.id }}
      <br>
      Division: {{ object.division }}
      <br>
      Estadio: {{ object.estadio }}
      <br>
      <a href="{% url 'NFLP:listequipo' %}" class="btn btn-link">Back</a>
    </div>
  </div>

{% endblock content %}
