{% extends "base.html" %}

{% block title %}List Estadio{% endblock title %}

{% block content %}
<table class="table table-striped">
  <th>Estadio ID</th>
  <th>Nombre</th>
  <th>Capacidad</th>
  <th>Ciudad</th>
  <th>Estado</th>
  <th>Equipos Locales</th>
  <th></th>
  <th>Actions</th>
  <th></th>
  {% for estadio in object_list %}
  <tr>
    <td>{{ estadio.id }}</td>
    <td>{{ estadio.nombre }}</td>
    <td>{{ estadio.capacidad }}</td>
    <td>{{ estadio.ciudad }}</td>
    <td>{{ estadio.estado }}</td>
    <td>{{ estadio.eqlocales }}</td>
    <td><a href="{% url 'NFLP:detailestadio' estadio.id %}"><button type="button" name="buttton" class="btn btn-success btn-circle"><i class="fas fa-save fa-sm"></button></a></td>
    <td><a href="{% url 'NFLP:updateestadio' estadio.id %}"><button type="button" name="buttton" class="btn btn-warning btn-circle"><i class="fas fa-pen fa-sm"></button></a></td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
